<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>
        <!-- Nav bar -->
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Dealerships</a>
                    <a class="navbar-brand" href="{% url 'djangoapp:about' %}">About Us</a>
                    <a class="navbar-brand" href="{% url 'djangoapp:contact' %}">Contact Us</a>
                </div>
                <!--User Login Fields -->
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li>
                        <a class="btn btn-dark" href="#">({{ user.username }})</a>
                        <a class="btn btn-dark" href="{% url 'djangoapp:logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li>
                        <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                            {% csrf_token %}
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Username" name="username" >
                                <input type="password" class="form-control" placeholder="Password" name="psw" >
                                <button class="btn btn-secondary" type="submit">Login</button>
                                <a class="btn btn-dark" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                            </div>
                        </form>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <br>
        <!-- Add reviews as cards -->
        <main class="container pt-6">
        {% if reviews %}
            <div class="container">
                <h2>Reviews for {{dealer.full_name}}</h2>
                <div class="card-columns">
                    {% for review in reviews %}
                        <div class="card">
                            {% if review.sentiment == 'positive' %}
                                <img width="50" height="50" class="card-img-left" src="{{MEDIA_URL}}/emoji/positive.png">
                            {% else %}
                                {% if review.sentiment == 'negative' %}
                                    <img width="50" height="50" class="card-img-left" src="{{MEDIA_URL}}/emoji/negative.png">
                                {% else %}
                                    <img width="50" height="50" class="card-img-left" src="{{MEDIA_URL}}/emoji/neutral.png">
                                {% endif %}
                            {% endif %}
                            <div class="card-body">
                                <h4 class="card-title">{{review.car_make}}, {{review.car_model}}</h4>
                                <h4 class="card-title">{{review.car_year}}</h4>
                                <p class="card-text">{{review.review}}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% else %}
                <p>No reviews are available for this dealership. Something went wrong.</p>
        {% endif %}
        <br>

        <!-- Add a Review -->
        <div class="card">
            {% if user.is_authenticated %}
            <div class="card-footer">
                <a class="btn btn-dark" href="{% url 'djangoapp:add_review' dealerId %}">Add Review</a>
            </div>
            {% else %}
            <div class="card-body">
                Login to leave a review for {{dealer.full_name}}
            </div>
            {% endif %}
        </div>
        </main> 
        <br>
 
        <!-- Footer -->
        <footer class="bg-dark text-center fixed-bottom">
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                <a class="text-white" href="{% url 'djangoapp:contact' %}">2021 Best Cars Dealership</a>
            </div>
        </footer>
    </body>

</html>